@font-face {
    font-family: 'robotoregular';
    src: url('/font/roboto-regular-webfont.woff2') format('woff2'),
    url('/font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
    background-color: var(--backgroundColor);
    font-family: 'robotoregular', sans-serif;
    background-image: url(/asset/background.jpg);
    background-attachment: fixed;
    background-position-y: 0px;
    background-size: cover;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x:  hidden;
}

main{
    width: var(--mainWidth);
    height: 100vh;
    background: #403a434d;
    box-shadow: var(--baseShadow);
    margin: 60px auto 0 auto;
    backdrop-filter: blur(5px);
}

footer{
    height: 20vh;
    width: 100vw;
    background-color: #1c1c1d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}