nav{
    background: var(--navbarColor);
    width: 100vw;
    height: 60px;
    box-shadow: var(--navShadow);
    position: fixed;
    backdrop-filter: blur(40px) saturate(180%);
    top: 0;
    z-index: 10;

    .container{
        width: var(--mainWidth);
        height: 60px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & a {
        padding: 0;
        margin: 0;
        height: 60px;
        color: white;
    }

    .container img{
        height: 60px;
    }

    & input{
        backdrop-filter: blur(10px);
        outline: none;
        border-radius: var(--borderRadius);
        border: none;
        height: 25px;
        background-color: rgb(255 255 255 / 11%);
        color: var(--colMain);
        letter-spacing: 1px;
    }
}