nav{
    background: var(--navbarColor);
    width: 100vw;
    height: 60px;
    box-shadow: var(--navShadow);
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
}

nav .container{
    width: var(--mainWidth);
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container img{
    height: 60px;
}