:root{
    --navbarColor : #888888;
    --navShadow : 0px 3px 6px -2px #000000;

    --toto : 1s ease-in-out background-color;
    --mainWidth : 70vw;
    --gameCardColor : #ffffff;
    --borderRadius : 10px;
    --baseShadow : 3px 3px 6px -2px #2b2b2b;
}