.gui-top{
    flex-direction: row-reverse;



}


.gui{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #424242;
    height: 60px;
    flex-wrap: wrap;
}

.guiCard{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    margin-left: 10px;
}

.guiCard>span{
    text-align: center;
}


.towerButton{
    height: 80px;
    width: 60px;
    background-size: cover;
    image-rendering: pixelated;
    background-position: center;
    border: none;
    padding: 0;
}

.towerButton>img{
    height: 60px;
    width: 60px;
}

.towerButton>.cost{
    height: 20px;
    width: 100%;
    color: #000000;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.towerButton:hover{
    filter: brightness(1.2);
}