:root {
    --cell-size: 30px;
    --url-flag: url("/Demineur/asset/flag.png");
}

#miningGrid > tr, td {
    border: 1px solid black;
    width: var(--cell-size);
    height: var(--cell-size);
}

#miningGrid {
    border-collapse: collapse;
    background-color: #d9d9d9;
}

.flag {
    background-image: var(--url-flag);
    background-size: var(--cell-size);
}