body, html {
    height: 100%;
    margin: 0;
    /*overflow: hidden;*/
}

#leftPanel {
    width: 33.33%;
    height: 1500px;
    float: left;
    background-color: #f2f2f2;
}

#rightPanel {
    width: 66.66%;
    height: 1500px;
    float: left;
    background-color: #e6e6e6;
}

#title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    line-height: 42px;
    letter-spacing: -4px;
}

#zoneClicker {
    width: 100%;
    text-align: center;
}

#timerDisplay {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: auto;
    display: flex;
    justify-content : center;
}


#clickButton {
    width: 80%;
    height: 15%;
    background-color: lightcoral;
    border-radius: 10%;
    border: 10px;
    outline: none;
    cursor: pointer;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    color: #fffbbb;
    text-align: center;
    line-height: 50px;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10%;
}

#valueGame {
    display: flex;
}

#coinsDisplay {
    font-size: 20px;
    margin-left: 10%;
    font-weight: bold;
    color: black;
}

#cpsDisplay {
    font-size: 20px;
    margin-left: 10%;
    font-weight: bold;
    color: black;
}

#nextClickValueDisplay {
    font-size: 20px;
    margin-left: 10%;
    font-weight: bold;
    color: black;
}


#clickButton :hover {
    animation: rainbowAnimation 15s linear infinite;
}

#score {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content : center;
    top: 20px;
}

.trembling-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    position: relative;
    display: inline-block;
}

#score.trembling-animation {
    animation: trembling 0.5s ease-in-out infinite;
}

@keyframes trembling {
    0%, 100% {
        transform: translateY(5px);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(15px);
    }
    75% {
        transform: translateY(-20px);
    }
}

#autoClickButton {
    width: 75%;
    height: 50%;
    background-color: blueviolet;
    border-radius: 10%;
    border: 10px;
    outline: none;
    cursor: pointer;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    color: #fffbbb;
    text-align: center;
    line-height: 25px;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10%;
}

#autoClickCostDisplay {
    font-size: 20px;
    margin-left: 10%;
    font-weight: bold;
    color: black;
}

#megaAutoClickButton {
    width: 75%;
    height: 50%;
    background-color: blueviolet;
    border-radius: 10%;
    border: 10px;
    outline: none;
    cursor: pointer;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    color: #fffbbb;
    text-align: center;
    line-height: 25px;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10%;
}

#megaAutoClickCostDisplay {
    font-size: 20px;
    margin-left: 10%;
    font-weight: bold;
    color: black;
}



#clickPlus1 {
    width: 75%;
    height: 50%;
    background-color: blueviolet;
    border-radius: 10%;
    border: 10px;
    outline: none;
    cursor: pointer;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    color: #fffbbb;
    text-align: center;
    line-height: 25px;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10%;
}


#clickPlus1CostDisplay {
    font-size: 20px;
    margin-left: 10%;
    font-weight: bold;
    color: black;
}

#clickPlus1000Button {
    width: 75%;
    height: 50%;
    background-color: blueviolet;
    border-radius: 10%;
    border: 10px;
    outline: none;
    cursor: pointer;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    color: #fffbbb;
    text-align: center;
    line-height: 25px;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10%;
}
#clickPlus1000CostDisplay {
    font-size: 20px;
    margin-left: 10%;
    font-weight: bold;
    color: black;
}

#clickPlus1:hover {
    background-color: #4CAF50;
}

#clickPlus1000:hover {
    background-color: #4CAF50;
}

.hidden {
    display: none;
}

#imageDisplay {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
#images {
    margin: 10%;
    bottom: 20%;
}

.rectangle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    z-index: 1;
}

.click-animation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    font-size: 24px;
    color: green;
    animation: moveUp 2s ease;

}
.click-1000-animation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    font-size: 24px;
    color: green;
    animation: moveUp 2s ease;

}

@keyframes moveUp {
    0% {
        top: 80%;
        opacity: 1;
    }
    100% {
        top: 50%;
        opacity: 0;
    }
}

.auto-click-animation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    font-size: 24px;
    color: blue;
    animation: moveUp 2s ease;

}

.mega-auto-click-animation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    font-size: 24px;
    color: blue;
    animation: moveUp 2s ease;

}

.decompose-animation {
    transition: transform 6s ease, opacity 6s ease; /* Transition pour la transformation et l'opacité */
    transform: scale(0.5); /* Réduire l'échelle du rectangle */
    opacity: 0; /* Rendre le rectangle transparent */
}

.background-color-change {
    animation: changeBackgroundColor 1s ease;
}

@keyframes changeBackgroundColor {
    from {
        background-color: #f2f2f2; /* Couleur de fond initiale */
    }
    to {
        background-color: #ffcc00; /* Nouvelle couleur de fond */
    }
}
#imageOne {
    margin: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageTwo {
    margin: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageThree {
    margin: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageFour {
    margin: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageFive {
    margin: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageSix {
    margin: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageSeven {
    margin: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageEight {
    margin: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageNine {
    margin: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageTen {
    margin: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageEleven {
    margin: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageTwelve {
    margin: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image2000 {
    margin: auto;
    width: 100px;
    display: flex;
    position: absolute;
    color: #fdffb9;
    z-index: 10;
    text-shadow: 0px 0px 5px white;
}
#image5000 {
    margin: auto;
    width: 100px;
    display: flex;
    position: absolute;
    color: #fdffb9;
    z-index: 10;
    text-shadow: 0px 0px 5px white;
}
#image25000 {
    margin: auto;
    width: 100px;
    display: flex;
    position: absolute;
    color: #fdffb9;
    z-index: 10;
    text-shadow: 0px 0px 5px white;
}
#image50000 {
    margin: auto;
    width: 100px;
    display: flex;
    position: absolute;
    color: #fdffb9;
    z-index: 10;
    text-shadow: 0px 0px 5px white;
}
#image100000 {
    margin: auto;
    width: 100px;
    display: flex;
    position: absolute;
    color: #fdffb9;
    z-index: 10;
    text-shadow: 0px 0px 5px white;
}
#image250000 {
    margin: auto;
    width: 100px;
    display: flex;
    position: absolute;
    color: #fdffb9;
    z-index: 10;
    text-shadow: 0px 0px 5px white;
}
#image500000 {
    margin: auto;
    width: 100px;
    display: flex;
    position: absolute;
    color: #fdffb9;
    z-index: 10;
    text-shadow: 0px 0px 5px white;
}
#image1000000 {
    margin: auto;
    width: 100px;
    display: flex;
    position: absolute;
    color: #fdffb9;
    z-index: 10;
    text-shadow: 0px 0px 5px white;
}
#image5000000 {
    margin: auto;
    width: 100px;
    display: flex;
    position: absolute;
    color: #fdffb9;
    z-index: 10;
    text-shadow: 0px 0px 5px white;
}
#image100000000 {
    margin: auto;
    width: 100px;
    display: flex;
    position: absolute;
    color: #fdffb9;
    z-index: 10;
    text-shadow: 0px 0px 5px white;
}
#image500000000 {
    margin: auto;
    width: 100px;
    display: flex;
    position: absolute;
    color: #fdffb9;
    z-index: 10;
    text-shadow: 0px 0px 5px white;
}
#image1000000000 {
    margin: auto;
    width: 100px;
    display: flex;
    position: absolute;
    color: #fdffb9;
    z-index: 10;
    text-shadow: 0px 0px 5px white;
}


#imagesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes par ligne */
    grid-gap: 5px; /* Espace entre les images */
    justify-content: center; /* Centrer les images horizontalement */
}

.image-cell {
    text-align: center; /* Centrer le contenu à l'intérieur de chaque cellule */
}

.image-container {
    width: 80px;
    height: 80px;
    position: relative;
}

.rectangle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    z-index: 1;
}

.gameContainer {
    display: flex;
    justify-content: center;
    height: 1500px;
}
/* Animation pour l'autoclic */
@keyframes auto-click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.click-animation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    font-size: 24px;
    color: green;
    animation: moveUp 2s ease;

}

@keyframes moveUp {
    0% {
        top: 50%;
        opacity: 1;
    }
    100% {
        top: 20%;
        opacity: 0;
    }
}

.auto-click-animation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    font-size: 24px;
    color: blue;
    animation: moveUp 2s ease;

}



@keyframes rainbowAnimation {
    0% { color: red; }
    16.666% { color: orange; }
    33.333% { color: yellow; }
    50% { color: green; }
    66.666% { color: blue; }
    83.333% { color: indigo; }
    100% { color: violet; }
}



