body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#leftPanel {
    width: 33.33%;
    height: 100%;
    float: left;
    background-color: #f2f2f2;
}

#rightPanel {
    width: 66.66%;
    height: 100%;
    float: left;
    background-color: #e6e6e6;
}

#title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
}

#zoneClicker {
    width: 100%;
    height: 10%;
    text-align: center;
}

#clickButton {
    width: 80%;
    height: 15%;
    background-color: lightcoral;
    border-radius: 10%;
    border: 10px;
    outline: none;
    cursor: pointer;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    color: #fffbbb;
    text-align: center;
    line-height: 50px;
    padding: 10px;
    margin-left: 10%;
}

#clickButton:hover {
    background-color: #f77222;
    color: #221c25;
}

#score {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-left: 30%;
}

.trembling-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    position: relative;
    display: inline-block;
}

#score.trembling-animation {
    animation: trembling 0.5s ease-in-out infinite;
}

@keyframes trembling {
    0%, 100% {
        transform: translateY(5px);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(15px);
    }
    75% {
        transform: translateY(-20px);
    }
}

#autoClickButton {
    width: 35%;
    height: 15%;
    background-color: blueviolet;
    border-radius: 10%;
    border: 10px;
    outline: none;
    cursor: pointer;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    color: #fffbbb;
    text-align: center;
    line-height: 25px;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10%;
}

#clickPlus1 {
    width: 35%;
    height: 15%;
    background-color: blueviolet;
    border-radius: 10%;
    border: 10px;
    outline: none;
    cursor: pointer;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    color: #fffbbb;
    text-align: center;
    line-height: 25px;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10%;
}

#clickPlus1:hover {
    background-color: #4CAF50;
}

.hidden {
    display: none;
}

#imageDisplay {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
#images {
    margin: 10%;
    bottom: 20%;
}




