.cell {
    background-image: none;
    background-size: cover;
    background-position: center;
}

.cell.unclicked {
    background-image: var(--url-unclicked);
}

.cell.flag {
    background-image:  var(--url-flag), var(--url-unclicked);
}

.cell.mine {
    background-image: var(--url-mine);
}

.cell.mine.clicked {
    background-color: red;
}

.cell.fake-mine {
    background-image: var(--url-fake-mine);
}

.cell.zero {
    background-image: var(--url-0);
}

.cell.one {
    background-image: var(--url-1);
}

.cell.two {
    background-image: var(--url-2);
}

.cell.three {
    background-image: var(--url-3);
}

.cell.four {
    background-image: var(--url-4);
}

.cell.five {
    background-image: var(--url-5);
}

.cell.six {
    background-image: var(--url-6);
}

.cell.seven {
    background-image: var(--url-7);
}

.cell.eight {
    background-image: var(--url-8);
}

/*
td:active:not(.zero):not(.one):not(.two):not(.three):not(.four):not(.five):not(.six):not(.seven):not(.eight):not(.flag):not(.mine):not(.fake-mine) {
    background-color: #bfbfbf;
}

td:hover:not(.zero):not(.one):not(.two):not(.three):not(.four):not(.five):not(.six):not(.seven):not(.eight):not(.flag):not(.mine):not(.fake-mine) {
    background-color: #d9d9d9;
}
 */