.cell {
    background-image: none;
    background-size: cover;
    background-position: center;
}



.cell {
    &.retro {
        &.unclicked {
            background-image: var(--url-unclicked);
        }

        &.flag {
            background-image:  var(--url-flag), var(--url-unclicked);
        }

        &.mine {
            background-image: var(--url-mine);

            &.clicked {
                background-color: red;
            }
        }

        &.fake-mine {
            background-image: var(--url-fake-mine);
        }

        &.zero {
            background-image: var(--url-0);
        }

        &.one {
            background-image: var(--url-1);
        }

        &.two {
            background-image: var(--url-2);
        }

        &.three {
            background-image: var(--url-3);
        }

        &.four {
            background-image: var(--url-4);
        }

        &.five {
            background-image: var(--url-5);
        }

        &.six {
            background-image: var(--url-6);
        }

        &.seven {
            background-image: var(--url-7);
        }

        &.eight {
            background-image: var(--url-8);
        }
    }
}