#miningGrid {
    margin: auto;
    border: 3px solid black;
}

#miningGrid > tr, td {
    background-color: #eaeaea;
    border: 1px solid white;
    width: var(--cell-size);
    height: var(--cell-size);
}

#miningGrid {
    border-collapse: collapse;
    background-color: #d9d9d9;
}