#gameBoard {
    border: 6px solid #c7c7c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0;
}

#gameBoardHeader {
    background-image: url("../assets/grille/unclicked.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


#gameBoardHeaderTime, #gameBoardHeaderMineCounter, #gameBoardHeaderSmiley {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#buttonSmiley {
    background-image: url("../assets/grille/unclicked.png");
    background-size: 100% 100%;
    border: none;
    width: 50px;
    height: 50px;
}

#smiley {
    /*background-image: url("../assets/header/normal.png");*/
    background-size: 100% 100%;
    max-width: 100%;
    max-height: 100%;
    border: none;
}


#grille {
    border: 3px solid #adadad;
    border-bottom: none;
}


#miningGrid > tr, td {
    background-color: #c7c7c7;
    border: 2px solid #adadad;
}

#miningGrid {
    border-collapse: collapse;
    background-color: #d9d9d9;
}