:root {
    --demineurBackgroundColor: #c7c7c7;
    --demineurBorderColor: #a9a9a9;

    --url-unclicked: url("../asset/themes/retro/grille/unclicked.png");
    --url-flag: url("../asset/themes/retro/grille/flag.png");
    --url-mine: url("../asset/themes/retro/grille/mine.png");
    --url-fake-mine: url("../asset/themes/retro/grille/fake-mine.png");
    --url-0: url("../asset/themes/retro/grille/0.png");
    --url-1: url("../asset/themes/retro/grille/1.png");
    --url-2: url("../asset/themes/retro/grille/2.png");
    --url-3: url("../asset/themes/retro/grille/3.png");
    --url-4: url("../asset/themes/retro/grille/4.png");
    --url-5: url("../asset/themes/retro/grille/5.png");
    --url-6: url("../asset/themes/retro/grille/6.png");
    --url-7: url("../asset/themes/retro/grille/7.png");
    --url-8: url("../asset/themes/retro/grille/8.png");
}