<div class="container">
    <ul>
        <li>
            <h4>Logann</h4>
            <a href="https://github.com/LogannTille" target="_blank" class="github">Github</a>
            <a href="https://fr.linkedin.com/in/logann-till%C3%A9-722839229" target="_blank" class="linkedin">Linkedin</a>
        </li>
        <li>
            <h4>Romain</h4>
            <a href="https://github.com/RainbowGamer333" target="_blank" class="github">Github</a>
            <a href="https://fr.linkedin.com/in/romain-patureau-323516214" target="_blank" class="linkedin">Linkedin</a>
        </li>
        <li>
            <h4>Elyan</h4>
            <a href="https://github.com/Elyan-Gruau"  target="_blank" class="github">Github</a>
            <a href="https://fr.linkedin.com/in/elyan-gruau"  target="_blank" class="linkedin">Linkedin</a>
        </li>
    </ul>

    <div class="legacy_container">
        ©2024 LIGMA GAMES - Tous droits réservés
    </div>
</div>