<div class="container">
    <a href="/AB_AW_G10/index.html">
        <img src="/asset/logo.png" alt="logo">
    </a>
    <div id="search_container">
        <label>
            <input type="text" >
        </label>
    </div>
    <a id="connexion" class="connexion_deconnexion" href="/AB_AW_G10/account/log-in.html">
        connexion
    </a>
    <a id="deconnexion" class="connexion_deconnexion" href="/AB_AW_G10/account/log-in.html">
        deconnexion
    </a>
    <a id="account" href="/AB_AW_G10/account/account.html">
    </a>
</div>

<script type="module" src="/AB_AW_G10/js/navbar.js"></script>