<div class="container">
    <a href="/AB_AW_G10/index.html">
        <img src="AB_AW_G10/asset/logo.png" alt="logo">
    </a>
    <div id="search_container">
        <label>
            <input type="text" id="search_input" >
        </label>
        <div id="search_results_container">
<!--            <a class="search_result">ok</a>-->
<!--            <a class="search_result">ok</a>-->
<!--            <a class="search_result">ok</a>-->

        </div>
    </div>
    <div class="connexion-container">
        <a id="connexion" class="connexion_deconnexion" href="/AB_AW_G10/account/log-in.html">
            connexion
        </a>
        <a id="deconnexion" class="connexion_deconnexion" href="/AB_AW_G10/account/log-in.html">
            deconnexion
        </a>
        <a id="account">
        </a>
    </div>
</div>

<script type="module" src="/AB_AW_G10/js/navbar.js"></script>