<div class="container scoreboardContainer">
    <h2 id="scoreboard">Tableau des scores</h2>

    <div class="scoreboard">
        <div class="line">
            <span>rang</span>
            <span>score</span>
            <span>pseudo</span>
        </div>
        <div class="line">
            <span id="1" class="rank">Top 1 :</span>
            <span class="score">(...)</span>
            <span class="name">(...)</span>
        </div>
        <div class="line">
            <span id="2" class="rank">Top 2 :</span>
            <span class="score">(...)</span>
            <span class="name">(...)</span>
        </div>
        <div class="line">
            <span id="3" class="rank">Top 3 :</span>
            <span class="score">(...)</span>
            <span class="name">(...)</span>
        </div>
        <div class="line">
            <span id="4" class="rank">Top 4 :</span>
            <span class="score">(...)</span>
            <span class="name">(...)</span>
        </div>
        <div class="line">
            <span id="5" class="rank">Top 5 :</span>
            <span class="score">(...)</span>
            <span class="name">(...)</span>
        </div>
        <div class="line">
            <span id="6" class="rank">Top 6 :</span>
            <span class="score">(...)</span>
            <span class="name">(...)</span>
        </div>
        <div class="line">
            <span id="7" class="rank">Top 7 :</span>
            <span class="score">(...)</span>
            <span class="name">(...)</span>
        </div>
        <div class="line">
            <span id="8" class="rank">Top 8 :</span>
            <span class="score">(...)</span>
            <span class="name">(...)</span>
        </div>
        <div class="line">
            <span id="9" class="rank">Top 9 :</span>
            <span class="score">(...)</span>
            <span class="name">(...)</span>
        </div>
        <div class="line">
            <span id="10" class="rank">Top 10 :</span>
            <span class="score">(...)</span>
            <span class="name">(...)</span>
        </div>
    </div>
</div>